<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <!-- Rolling File Appender -->
        <RollingFile
                name="rollingFile"
                fileName="/var/log/presto/queries.log"
                filePattern="/var/log/presto/queries.log.%d{yyyy-MM-dd}-%i"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy module="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>
